repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # - id: fmt
      - id: clippy
        args: ["--all", "--all-features"]
      - id: cargo-check
  # Implement fmt by hand since above hook seems to have problems recognizing the Rust edition.
  - repo: local
    hooks:
    - id: fmt
      name: fmt
      language: system
      entry: cargo fmt --all
      files: \.rs$
      pass_filenames: false
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.0
    hooks:
      - id: typos
        exclude: "vscode/package-lock.json"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^tests/Baseline"
      - id: end-of-file-fixer
        exclude: "^tests/Baseline|^doc/autogen|^doc/_static"
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.11
    hooks:
      - id: biome-format
      - id: biome-lint

exclude: "(.github/workflows/release.yml|src/snapshots/)"
