repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: eeee35a89e69d5772bdee97db1a6a898467b686e  # frozen: v1.0
    hooks:
      # - id: fmt
      - id: clippy
        args: ["--all", "--all-features"]
      - id: cargo-check
  # Implement fmt by hand since above hook seems to have problems recognizing the Rust edition.
  - repo: local
    hooks:
    - id: fmt
      name: fmt
      language: system
      entry: cargo fmt --all
      files: \.rs$
      pass_filenames: false
  - repo: https://github.com/jorisroovers/gitlint
    rev: acc9d9de6369b76d22cb4167029d2035e8730b98  # frozen: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/crate-ci/typos
    rev: bb4666ad77b539a6b4ce4eda7ebb6de553704021  # frozen: v1.42.0
    hooks:
      - id: typos
        exclude: "vscode/package-lock.json"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 76b3d32d3f4b965e1d6425253c59407420ae2c43  # frozen: v0.47.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^tests/Baseline"
      - id: end-of-file-fixer
        exclude: "^tests/Baseline|^doc/autogen|^doc/_static"
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/rhysd/actionlint
    rev: 0933c147c9d6587653d45fdcb4c497c57a65f9af  # frozen: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/biomejs/pre-commit
    rev: c02b96b96819cdad927ff56a2ec26c0ffd494b5c  # frozen: v2.3.11
    hooks:
      - id: biome-format
      - id: biome-lint

exclude: "(.github/workflows/release.yml|src/snapshots/)"
