[package]
name = "zeek-language-server"
version = "0.25.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
insta = "1.22.0"
tempfile = "3.3.0"
wiremock = "0.5.15"

[features]
default = []
telemetry = ["opentelemetry", "opentelemetry-jaeger", "tracing-subscriber", "tracing-opentelemetry"]
profiling = ["pyroscope"]

[dependencies]
clap = { version = "4.0.29", features = ["std", "derive", "help"], default-features = false }
eyre = { default-features = false, version = "0.6.8", features = ["auto-install"] }
futures = { default-features = false, version = "0.3.25" }
itertools = "0.10.5"
opentelemetry = { version = "0.18.0", features = ["trace", "rt-tokio"], optional = true }
opentelemetry-jaeger = { version = "0.17.0", features = ["reqwest_collector_client", "rt-tokio"], optional = true }
path-clean = "0.1.0"
pyroscope = { version = "0.5.3", optional = true }
rayon = "1.6.1"
regex = { default-features = false, version = "1.7.0" }
reqwest = { version = "0.11.13", default-features = false }
rust-fuzzy-search = "0.1.1"
salsa = "0.16.1"
semver = { version = "1.0.14", default-features = false }
serde = { version = "1.0.149", default-features = false }
serde_json = { default-features = false, version = "1.0.89" }
tokio = { version = "1.23.0", features = ["io-std", "rt-multi-thread", "process", "macros"], default-features = false }
tower-lsp = { version = "0.17.0", features = ["runtime-tokio"], default-features = false }
tracing = { features = ["attributes"], default-features = false, version = "0.1.37" }
tracing-opentelemetry = { version = "0.18.0", optional = true }
tracing-subscriber = { version = "0.3.16", features = ["tracing-log"], optional = true, default-features = false }
tree-sitter = "0.20.9"
tree-sitter-zeek = { path = "crates/tree-sitter-zeek" }
walkdir = "2.3.2"

[workspace]
members = ["crates/tree-sitter-zeek"]
