[package]
name = "zeek-language-server"
version = "0.20.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
cc = "1.0.76"
regex = "1.7.0"

[dev-dependencies]
insta = "1.21.0"
tempfile = "3.3.0"

[features]
default = []
telemetry = ["opentelemetry", "opentelemetry-jaeger", "tracing-subscriber", "tracing-opentelemetry"]
profiling = ["pyroscope"]

[dependencies]
clap = { version = "4.0.23", features = ["derive"] }
eyre = "0.6.8"
futures = "0.3.25"
itertools = "0.10.5"
opentelemetry = { version = "0.18.0", features = ["trace", "rt-tokio"], optional = true }
opentelemetry-jaeger = { version = "0.17.0", features = ["reqwest_collector_client", "rt-tokio"], optional = true }
pyroscope = { version = "0.5.3", optional = true }
regex = "1.7.0"
rust-fuzzy-search = "0.1.1"
salsa = "0.16.1"
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread", "io-std", "io-util", "process", "time"] }
tower-lsp = { version = "0.17.0", features = ["runtime-tokio"] }
tracing = "0.1.37"
tracing-opentelemetry = { version = "0.18.0", optional = true }
tracing-subscriber = { version = "0.3.15", features = ["tracing-log"], optional = true, default_features = false }
tree-sitter = "0.20.9"
walkdir = "2.3.2"
