name: Check

on:
  pull_request:
  push:
    branches: [main]

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        name:
          - linux-x86-64-gnu
          - mac-x86-64
        include:
          - name: linux-x86-64-gnu
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - name: mac-x86-64
            os: macos-latest
            target: x86_64-apple-darwin

    name: Binaries for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.os }}-cargo-${{ hashFiles('Cargo.lock') }}

      - name: Install tree-sitter-cli
        run: |
          npm install -g tree-sitter-cli
      - name: Install Zeek
        run: |
          if [[ ${{ matrix.name }} == *linux* ]]; then \
            echo 'deb http://download.opensuse.org/repositories/security:/zeek/xUbuntu_22.04/ /' | sudo tee /etc/apt/sources.list.d/security:zeek.list; \
            curl -fsSL https://download.opensuse.org/repositories/security:zeek/xUbuntu_22.04/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/security_zeek.gpg > /dev/null; \
            sudo apt-get update; \
            sudo apt-get install -y zeek; \
            sudo echo /opt/zeek/bin >> ${GITHUB_PATH}; \
          elif [[ ${{ matrix.name }} == *mac* ]]; then \
            brew install zeek; \
          fi
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Test all features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: Build
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -C target-feature=+crt-static
        with:
          command: build
          args: --release --locked --target ${{ matrix.target }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v2.3.1
        with:
          name: zeek-language-server-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/zeek-language-server

  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          key: pre-commit-cargo-${{ hashFiles('Cargo.lock') }}
      - name: Install tree-sitter-cli
        run: |
          npm install -g tree-sitter-cli
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v3.0.0

  vscode:
    name: Build vscode extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v3
        with:
          node-version: "15.x"
      - run: |
          cd vscode
          npm install
          npm install -g @vscode/vsce
      - run: |
          cd vscode
          vsce package
      - name: Upload artifacts
        uses: actions/upload-artifact@v2.3.1
        with:
          path: vscode/*.vsix
          name: vscode_extension.zip
