name: Publish vscode extension

on:
  workflow_call:
    inputs:
      plan:
        type: string
        required: false
    secrets:
      VSCODE_MARKETPLACE_TOKEN:
        required: true

jobs:
  publish:
    name: Publish artifacts to Visual Studio Marketplace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - run: |
          cd vscode
          npm install
          npm install -g @vscode/vsce
      - run: |
          cd vscode
          vsce package
          vsce publish -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
