name: Release

on:
  push:
    tags:
      - 'v*'
      - 'prerelease'

jobs:
  build:
    strategy:
      matrix:
          name:
            - linux-x86-64-gnu
            - mac-x86-64
          include:
            - name: linux-x86-64-gnu
              os: ubuntu-22.04
              target: x86_64-unknown-linux-gnu
            - name: mac-x86-64
              os: macos-11
              target: x86_64-apple-darwin

    name: Binaries for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.os }}-cargo-${{ hashFiles('Cargo.lock') }}

      - name: Install tree-sitter-cli
        run: |
          npm install -g tree-sitter-cli

      - name: Build binaries
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505
        env:
          RUSTFLAGS: -C target-feature=+crt-static
        with:
          command: build
          args: --release --locked --target ${{ matrix.target }}

      - name: Build vscode extension
        run: |
          cd vscode
          npm install
          npm run vsix

      - name: Rename artifacts
        run: |
          mkdir artifacts
          mv target/${{ matrix.target }}/release/zeek-language-server artifacts/zeek-language-server-${{ matrix.target }}
          mv vscode/*.vsix artifacts

      - name: Upload Release Assets
        id: upload-release-assets
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          files: |
            artifacts/*

  publish:
    name: Publish artifacts to Visual Studio Marketplace
    runs-on: ubuntu-latest
    needs: [build]
    if: gihtub.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: action/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - run: |
          cd vscode
          npm-install
          npm install -g @vscode/vsce
      - run: |
          cd vscode
          vsce package
          vsce publish -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
